*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, span, li, input[type="text"]{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: white;
    font-weight: 500;
}
body{
    background: whitesmoke;
}

/* container */
/* .----------------------------------. */

.container{
    position: relative;
    width: 100%;
    max-width: 700px;
    min-width: 520px;
    height: 450px;
    margin: auto;
    background: url("./img/background.png") no-repeat;
    background-position:center -37px;
    overflow: hidden;
}

.container .bt{
    border:3px solid white;
    background: linear-gradient(#D3DB00 , #FF0000);
    text-align: center;
    cursor: pointer;
}
.container .bt:hover{
    background: linear-gradient(#D3DB00 , rgb(255, 81, 0));
}

/* color amarillo principal*/
.view-menu .box .box-dificultad > span,
.view-instrucciones .box-instrucciones .aling > span,
.view-instrucciones .box-instrucciones p span,
.view-juego .rango + p,
.view-juego p .opor-restantes,
.view-perdiste .box-perdiste .num-ganador,
.view-ganaste .box-ganaste span,
.view-juego-cartas .box-juego-cartas span,
.view-premio .box-premio p{
    color: #FFFF00;
}

/* añadir sombra a los elementos */

/* botones y mas */
.view-menu .box .bt,
.view-menu .box .box-dificultad,
.view-instrucciones .box-instrucciones .bt-entendido,
.view-juego .bt-responder,
.view-juego .salir,
.view-exit .box-bt .bt,
.view-perdiste .box-bt .bt,
.view-ganaste .box-ganaste .num-ganador,
.view-ganaste .box-ganaste .bt-premio,
.view-perdiste .box-perdiste p + span,
.view-juego-cartas .box-juego-cartas .box-carta,
.view-premio .box-premio .img-premio,
.view-premio .box-premio .box-bt .bt{
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
}

/* cajas */
.view-instrucciones .box-instrucciones,
.view-exit .box-exit,
.view-perdiste .box-perdiste,
.view-ganaste .box-ganaste,
.view-juego-cartas .box-juego-cartas,
.view-premio .box-premio{
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
}


/* pantalla del menu pricipal */
/* .----------------------------------. */

.view-menu,
.view-instrucciones, 
.view-juego,
.view-exit,
.view-perdiste,
.view-ganaste,
.view-juego-cartas,
.view-premio{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    animation-duration: 0.5s;
    animation-name: view;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes view{
    from{
        opacity: 0.8;
    }

    to{
        opacity: 1;
    }
}


.view-menu .box{
    width: 60%;
    height: inherit;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.view-menu .box .bt{
    width: 170px;
    height: 44px;
    border-radius: 29px;
    font-size: 1.25em;
    margin-bottom: 17px;
}
.view-menu .box .box-dificultad{
    width: 268px;
    height: 105px;
    text-align: center;
    border: 3px solid white;
    border-radius: 10px;
    background: radial-gradient(#2EAD14 , #116500);
}
.view-menu .box .box-dificultad > span{
    font-size:1.2em;
    font-weight: bold;
    margin: 5px 0px;
    display: block;
}
.view-menu .box .box-dificultad .opcion-dificultad{
    display: flex;
    justify-content: center;
}
.view-menu .box .box-dificultad .opcion-dificultad input[type="checkbox"]{
    display: none;
}
.view-menu .box .box-dificultad .opcion-dificultad label{
    display: block;
    width: 49px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    text-transform: lowercase;
}
.view-menu .box .box-dificultad .opcion-dificultad .opc-normal{
    margin: 0px 15px;
}
.view-menu .box .box-dificultad .opcion-dificultad span{
    display: inline-block;
    width: 17px;
    height: 17px;
    border: 2px solid white;
    border-radius: 50%;
    background: #820000;
}
.view-menu .box .box-dificultad .opcion-dificultad input[type="checkbox"]:checked ~ label span{
    background: #FF0000;  
}

/* pantalla de instrucciones */
/* .----------------------------------. */
.view-instrucciones,
.view-exit,
.view-perdiste,
.view-ganaste,
.view-juego-cartas,
.view-premio{ 
    background: rgba(255, 255, 255, 0.75);  
}
.view-instrucciones .box-instrucciones,
.view-exit .box-exit,
.view-perdiste .box-perdiste,
.view-ganaste .box-ganaste,
.view-juego-cartas .box-juego-cartas,
.view-premio .box-premio{
    position: absolute;
    top: 50%;
    left: 50%;        
    transform: translate(-50% , -50%);
    background: #2FA217;
    border: 4px solid #FFFF00;
    border-radius: 13px;
}
.view-instrucciones .box-instrucciones,
.view-perdiste .box-perdiste,
.view-ganaste .box-ganaste,
.view-juego-cartas .box-juego-cartas,
.view-premio .box-premio{
    width:100%;
    max-width: 584px;
    height: 359px;
}

/* alinear contenido */
.container .aling{
    width: 95%;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: inherit;
}
.view-instrucciones .aling,
.view-instrucciones .box-instrucciones .aling > span{
    display: block;
}
.view-instrucciones .box-instrucciones .aling > span{
    font-size: 1.5em;
    margin: 10px;
    text-align: center;
}
.view-instrucciones .box-instrucciones p{
    margin-bottom: 10px;
    width: 400px;
}
.view-instrucciones .box-instrucciones p,
.view-instrucciones .box-instrucciones p span,
.view-instrucciones .box-instrucciones li{
    font-size: 1.1em;
}
.view-instrucciones .box-instrucciones li{
    list-style: none;
    margin-top: 8px;
}
.view-instrucciones .box-instrucciones .frio{
    margin-top: 20px;
}
.view-instrucciones .box-instrucciones li img{
    margin-right: 5px;
    width: 35px;
}

.view-instrucciones .box-instrucciones .bt-entendido{
   width: 133px;
   padding: 5px 0px;
   border-radius: 18px;
   float: right;
   margin-top: 32px;
}

/* pantalla juego */
/* .----------------------------------. */
.view-juego .aling{
    justify-content: center;
}
.view-juego .rango{
    font-size: 3.1em;
    font-weight: bold;
}
.view-juego .rango + p{
    font-size: 2.5em;
    font-weight: bold;
    max-width: 436px;
    text-align: center;
}
.view-juego .box-respuesta{
    position: relative;
    width: 163px;
    height: 80px;
    margin: 20px 0px 16px;
}
.view-juego .box-respuesta .box-emoji,
.view-juego .campo-respuesta{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 100%;
    height: 100%;
}
.view-juego .box-respuesta .box-emoji{
    display: none;
}
.view-juego .box-respuesta .emoji-guia{
    width: 80px;
    display: block;
    margin: auto;
}
.view-juego .campo-respuesta{
    height: 49px;
    border: none;
    border-radius: 25px;
    text-align: center;
    outline: none;
    font-weight: bold;
    font-size: 2em;
    background: #157B00;
}
.view-juego .campo-respuesta::placeholder{
    color: rgba(255, 255, 255, 0.3);
}
.view-juego .bt-responder{
    width: 210px;
    height: 56px;
    line-height: 50px;
    font-size: 1.7em;
    border-radius: 29px;
    margin-bottom: 25px;
}
.view-juego .bt-responder + p,
.view-juego p .opor-restantes,
.view-juego p .opor-totales{
   font-weight: bold;
   font-size: 1.2em;
}
.view-juego p .opor-restantes,
.view-juego p .opor-totales{
    display: inline;
}
.view-juego .salir{
    position: absolute;
    top: 15px;
    left: 0;
    cursor: pointer;
    border-radius: 50%;

    width: 48px;
    height: 48px;
    font-size: 2.5em;
    line-height: 33px;
    font-weight: 500;
}

/* pantalla para salir de la partida */
/* .----------------------------------. */

.view-exit .box-exit{
    width: 332px;
    height: 120px;
}
.view-exit .box-exit span{
    font-size: 1.25em;
    text-align: center;
    font-weight: bold;
    margin: 20px 0px;
    display: block;
}
.view-exit .box-bt,
.view-perdiste .box-bt,
.view-premio .box-bt{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.view-exit .box-bt .bt{
    width: 102px;
    height: 31px;
    border-radius: 29px;
    font-size:1.2em;
    font-weight: bold;
}
.view-exit .box-bt .bt-si{
   background: linear-gradient(#6AE4F2 , #0F2243);
}
.view-exit .box-bt .bt-si:hover{
   background: linear-gradient(#6AE4F2 , rgb(13, 110, 121));
}

/* pantalla de  perdiste */
/* .----------------------------------. */

.view-perdiste .box-perdiste span,
.view-perdiste .box-perdiste p,
.view-ganaste .box-ganaste span{
    font-weight: bold;
    font-size: 3.5em;
}
.view-perdiste .box-perdiste span{
    margin: 20px 0px 25px;
}
.view-perdiste .box-perdiste p + span,
.view-ganaste .box-ganaste .num-ganador{
    margin: 10px 0px 30px;
    width: 76px;
    height: 76px;
    border-radius: 50%;
    background: gray;
    text-align: center;
    font-size: 2.5em;
    line-height: 70px;
}
.view-perdiste .box-perdiste p,
.view-ganaste .box-ganaste p{
    font-size: 1.3em;
}
.view-perdiste .box-bt .bt,
.view-ganaste .bt-premio,
.view-premio .box-bt .bt{
    width: 210px;
    height: 56px;
    border-radius: 29px;
    font-size: 1.3em;
    line-height: 48px;
}

/* pantalla de  ganaste */
/* .----------------------------------. */

.view-ganaste .box-ganaste .aling span:first-child{
    margin-top: 15px;
}
.view-ganaste .box-ganaste .num-ganador{
    background: linear-gradient(#D3DB00 , #FF0000);
    margin: 10px 0px;
}
.view-ganaste .box-ganaste .puntaje-estrellas{
    margin-bottom: 10px;
}
.view-ganaste .box-ganaste .puntaje-estrellas img{
    width: 55px;
}

/* pantalla juego de cartas */
/* .----------------------------------. */

.view-juego-cartas .box-juego-cartas span{
    font-size: 2.5em;
    margin: 10px 0px 5px;
}
.view-juego-cartas .box-juego-cartas .box-cartas{
    cursor: pointer;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 5px;
}
.view-juego-cartas .box-juego-cartas .box-carta{
    border-radius: 14px;
    margin: 5px;
    transition: background 0.3s;
}
.view-juego-cartas .box-juego-cartas .box-carta img{
    display: block;
}
.view-juego-cartas .box-juego-cartas .box-carta img:hover{
    transform: scale(1.1);
}

/* pantalla premio */
/* .----------------------------------. */
.view-premio .box-premio span{
    font-weight: bold;
    font-size: 1.8em;
    margin: 10px 0px;
}
.view-premio .box-premio p{
    font-weight: bold;
    font-size: 1.3em;
}
.view-premio .box-premio .img-premio{
    width: 255px;
    height: 164px;
    border: 3px solid #DF9B00;
    background: white;
    border-radius: 10px;
    margin: 15px 0px;
    overflow: hidden;
}
.view-premio .box-premio .img-premio img{
    width: 100%;
    height: 100%;
    display: block;
}

